/* Responsive Overrides */
@media only screen and (max-width: 768px) {
  .timeline {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .nav {
    li {
      a {
        padding: 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  article > .col-md-9 >.title, article > .title {
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      top: -5px;
      left: -20px;
      display: inline-block;
      width: 10px;
      height: 50px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .timeline {
    padding: 20px 0px;
    margin: 0 0 0 564px;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: rgba(lighten($base03, 10%), $alpha * 2);
    .tl-title {
      position: relative;
      list-style: none outside none;
      line-height: 2;
      padding: 5px 15px;
      max-width: 90%;
      color: darken($base07, 10%);
      background-color: darken($base05, 15%);
      border-radius: 4px;
      a {
        color: darken($base07, 10%);
        &:hover, &:focus {
          color: $base07;
        }
      }
      &:nth-child(2n+1) {
        margin: 10px -542px 10px;
        text-align: right;
        &:after {
          right: -10px;
          border-width: 10px 0 10px 10px;
        }
      }
      &:nth-child(2n) {
        margin: 10px 10px 10px -20px;
        &:after {
          left: -10px;
          border-width: 10px 10px 10px 0;
        }
      }
      &:after {
        content: " ";
        position: absolute;
        top: 10px;
        display: inline-block;
        border-style: solid;
        border-color: transparent darken($base05, 15%);
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .timeline {
    padding: 20px 0px;
    margin: 0 0 0 100px;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: rgba(lighten($base03, 10%), $alpha * 2);
    .tl-title {
      position: relative;
      list-style: none outside none;
      line-height: 2;
      padding: 5px 15px;
      margin: 5px 0;
      max-width: 90%;
      color: darken($base07, 10%);
      background-color: darken($base05, 15%);
      border-radius: 4px;
      a {
        color: darken($base07, 10%);
        &:hover, &:focus {
          color: $base07;
        }
      }
      &:after {
        content: " ";
        position: absolute;
        top: 10px;
        left: -10px;
        display: inline-block;
        border-width: 10px 10px 10px 0px;
        border-style: solid;
        border-color: transparent darken($base05, 15%);
      }
    }
  }
}
